<!-- templates/base.html -->
<!DOCTYPE html>
<html>

{% load static %}

<head>
  <meta charset="utf-8">
  <title>{% block title %}WalletWatch{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'walletview/css/w3.css' %}">
</head>
<body>
  <main>
      <!-- Navigation (Sits on top) -->
    <div class="w3-bar w3-blue w3-padding w3-margin-bottom w3-card w3-wide">
    <a href="/wallets" class="w3-bar-item w3-button w3-mobile">WalletWatch</a>

    <!-- Right-sided navbar links. Hide them on small screens -->
    {% if user.is_authenticated %}
      <div class="w3-dropdown-click w3-mobile">
        <button class="w3-button w3-mobile" onclick="toggleAccountDropdown()">
          Account <i class="fa fa-caret-down"></i>
        </button>
        <div id="account_dropdown" class="w3-dropdown-content w3-bar-block w3-card-4 ">
          <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-mobile">Logout</a>
          <a href="{% url 'password_change' %}" class="w3-bar-item w3-button w3-mobile">Change Password</a>
        </div>
      </div> 
    {% else %}
      <a href="{% url 'login' %}" class="w3-bar-item w3-button">Login</a>
    {% endif %}
    </div> 

    <div id="home" class="w3-content">
    {% block content %}
    {% endblock %}
    </div>
  </main>

  <script>
    function toggleAccountDropdown() {
    var x = document.getElementById("account_dropdown");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>