{% extends 'base.html' %}
{% load static %}
{% load perc_diff %}
{% block title %}Wallets{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'walletview/css/perc_diff.css' %}">
  {% if wallets %}
    <div class="w3-panel w3-blue w3-right-align">
    <h5>Total: {{total}}</h5>
    </div> 
    <ul class="w3-ul">
    {% for wallet in wallets %}
    <a href="{% url 'wallet' wallet.wallet.address %}">
      <li class="w3-card-4 w3-margin-bottom"> 
        <div class="w3-row">
          <div class="w3-col s9">
          {{ wallet.name }}
          </div>
          <div class="w3-col s3 w3-right-align">
            {{ wallet.wallet.value_human }} 
            <br>
            {% labelled_perc_diff wallet.wallet.value_1h wallet.wallet.value "1H" %} 
            {% labelled_perc_diff wallet.wallet.value_24h wallet.wallet.value "24H"%}
          </div>
        </div>
        <div class="">
          <span class="w3-opacity">{{ wallet.wallet.address }}</span>
        </div>
      </li>
      </a>
    {% endfor %}
    </ul>

  {% else %}
      <p>No wallets are available.</p>
  {% endif %}
  <div class="w3-card-4 w3-margin-bottom">
    <form method="post" action="{% url 'add_wallet' %}">
    {% csrf_token %}
      <div class="w3-row">
        <div class="w3-col s12 m5">
        <input type="text" id="name" name="name"  placeholder="Name" class="w3-input w3-border">
        </div>
        <div class="w3-col s12 m5">
        <input type="text" id="wallet" name="wallet"  placeholder="Wallet Address" class="w3-input w3-border">
        </div>
        <button type="submit" class="w3-btn w3-blue w3-col s12 m2">Add Wallet</button>
      </div>
    </form>

  </div>
{% endblock %}

