{% extends 'base.html' %}

{% block title %}Wallets{% endblock %}

{% block content %}
  {% if wallets %}
    <div class="w3-panel w3-blue w3-right-align">
    <h5>Total: {{total}}</h5>
    </div> 
    <ul class="w3-ul">
    {% for wallet in wallets %}
    <a href="{% url 'wallet' wallet.wallet.address %}">
      <li class="w3-card-4 w3-margin-bottom"> 
        <div class="w3-row">
          <div class="w3-threequarter">
          {{ wallet.name }} ({{ wallet.wallet.address }})
          </div>
          <div class="w3-rest w3-right-align">
            {{ wallet.wallet.value_human }}
          </div>
        </div>
      </li>
      </a>
    {% endfor %}
    </ul>

  {% else %}
      <p>No wallets are available.</p>
  {% endif %}
  <div class="w3-card-4 w3-margin-bottom">
    <form method="post" action="{% url 'add_wallet' %}">
    {% csrf_token %}
      <div class="w3-row">
        <div class="w3-quarter">
        <input type="text" id="name" name="name"  placeholder="Name" class="w3-input w3-border">
        </div>
        <div class="w3-half">
        <input type="text" id="wallet" name="wallet"  placeholder="Wallet Address" class="w3-input w3-border">
        </div>
        <div class="w3-rest w3-right-align">
        <button type="submit" class="w3-btn w3-blue">Add Wallet</button>
        </div>
      </div>
    </form>

  </div>
{% endblock %}

