<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load wallet_formatting %}
{% block title %}Wallet {{wallet.address}}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'walletview/css/wallet.css' %}">
  <div class="w3-card-4">
    <header class="w3-container w3-blue">
      <h4>{{wallet.address}}</h4>
    </header>
      <div class="w3-container">
      
      </div
      <!-- Tokens -->
    {% if  token_values %}
      <div class="w3-container">
      <h4>Tokens</h4>
       <table class="w3-table"> 
        <tr>
          <th>Name</th>
          <th>Balance</th>
          <th>Price</th>
          <th>Value</th>
        </tr>
        {% for token, value in token_values.items %}
            <tr>
            <td><a href="{% url 'wallet_token' wallet.address token.token.id %}">{{token.token.name}} ({{token.token.symbol}})</a></td>
            <td><span data-tooltip="up" aria-label="{{token.fetched}}">{% format_balance token.balance_calculated%}</span></td>
            <td><span data-tooltip="up" aria-label="{{value.fetched}} \\ {{value.exchange.name}}">{% format_money value.price %}</span></td>
            <td><span data-tooltip="up" aria-label="{{token.fetched}} - {{value.exchange.name}}">{% format_money token.value %}</span></td>
           </tr>       
        {% endfor %}
        </table>
      </div>
      {% endif %} 
      <!-- Liquidity -->
      {% if  wallet.get_liquidities %}
      <div class="w3-container">
      <h4>Liquidities</h4>
       <table class="w3-table"> 
        <tr>
          <th>Pair</th>
          <th>Balance</th>
          <th>Value</th>
          <th>Exchange</th>
        </tr>
        {% for liquidity in wallet.get_liquidities %}
          {% if not liquidity.balance == 0.0 %}
            <tr>
            <td><a href="{% url 'wallet_liquidity' wallet.address liquidity.liquidity.token.id %}">{{liquidity.liquidity.pair}}</a></td>
            <td><span data-tooltip="up" aria-label="{{liquidity.fetched}}">{% format_balance liquidity.balance%}</span></td>
            <td><span data-tooltip="up" aria-label="{{liquidity.fetched}}">{% format_money liquidity.value%}</span></td>
            <td>{{liquidity.liquidity.exchange.name}}</td>
           </tr>      
          {% endif %}  
        {% endfor %}
        </table>
      </div>
      {% endif %} 

    <footer class="w3-container w3-blue">
    <div class="w3-row">
    <div class="w3-half">
    <h5><span data-tooltip="up" aria-label="{{wallet.get_balance.fetched}}">xDai: {% format_money wallet.get_balance.xdai%}</span></h5>
    </div>
    <div class="w3-half w3-right-align">
    <h5>Total: {% format_money wallet.value %}</h5>
    </div>
    </div>
    </footer>
  </div>
{% endblock %}